<!DOCTYPE HTML>
<html>
  <head>
    <title>Scheduler</title>
    <link href='style/bootstrap.min.css' rel='stylesheet'>
    <link href='style/main.css' rel='stylesheet'>
  </head>

  <body ng-app='scheduler' ng-controller='main'>
    <nav class="navbar navbar-default" id='my-navbar'>
      <div class="container-fluid">
        <p class='navbar-text'>
          Scheduler {{ version }}
        </p>
        <form class="navbar-form navbar-left" role=''>
          <div class='form-group'>
            <input class='form-control' type='text' data-ng-model='taskName'>
          </div>
          <button class='btn btn-default' type='submit' data-ng-click='newTask(taskName, true)'>Start Task Now</button>
          <button class='btn btn-default' type='submit' data-ng-click='newTask(taskName, false)'>To Do Later</button>
        </form>
      </div>
    </nav>

    <div class='container-fluid'>

      <div class='row task-row'>
        <div class='col-md-4 col-sm-1'>
          <div class='panel panel-default'>

            <div class='panel-heading'>
              Active Tasks
            </div>

            <div class='panel-body'>
              <div class='task' data-ng-repeat='i in taskStore'>
                <table class='table table-striped'>
                  <tr>
                    <td class=''>Task name</td>
                    <td class='' data-ng-switch='i.nameBool'>
                      <div data-ng-switch-when='false' data-ng-click='i.toggleName();'>{{ i.name }}</div>
                      <form data-ng-switch-when='true' data-ng-submit='i.toggleName();'><input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'></form>
                    </td>
                  </tr>
                  <tr>
                    <td class=''>Date</td>
                    <td class=''>{{ i.date }}</td>
                  </tr>
                  <tr>
                    <td class=''>Time elapsed</td>
                    <td class='monospaced'>{{ i.lapsedTimeString }}</td>
                  </tr>
                  <tr>
                    <td colspan='2'>
                      <button class='btn btn-default' type='button' class='delete' data-ng-click='i.remove($index)'>Delete</button>
                      <span ng-switch='i.isPaused'>
                        <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='true'>Resume</button>
                        <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='false'>Stop</button>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class='col-md-4 col-sm-1'>
          <div class='panel panel-default'>

            <div class='panel-heading'>
              To Do Tasks
            </div>

            <div class='panel-body'>
<!--
              <div class='task' data-ng-repeat='i in taskStore.toDo'>
                <table class='table table-striped'>
                  <tr>
                    <td class=''>Task name</td>
                    <td class='' data-ng-switch='i.nameBool'>
                      <div data-ng-switch-when='false' data-ng-click='i.toggleName();'>{{ i.name }}</div>
                      <form data-ng-switch-when='true' data-ng-submit='i.toggleName();'><input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'></form>
                    </td>
                  </tr>
                  <tr>
                    <td class=''>Date</td>
                    <td class=''>{{ i.date }}</td>
                  </tr>
                  <tr>
                    <td class=''>Time elapsed</td>
                    <td class='monospaced'>{{ i.lapsedTimeString }}</td>
                  </tr>
                  <tr>
                    <td colspan=2>
                      <button class='btn btn-default' type='button' class='delete' data-ng-click='i.remove($index)'>Delete</button>
                      <span ng-switch='i.isPaused'>
                        <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='true'>Resume</button>
                        <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='false'>Stop</button>
                      </span>
                    </td>
                  </tr>
                </table>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- scripts -->
    <script src='scripts/angular.min.js'></script>
    <script src='scripts/app.js'></script>

  </body>

</html>
