<!DOCTYPE HTML>
<html>
  <head>
    <title>Scheduler</title>
    <link href='style/bootstrap.min.css' rel='stylesheet'>
    <link href='style/main.css' rel='stylesheet'>
    <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
  </head>

  <body ng-app='scheduler' ng-controller='main'>
    <nav class="navbar navbar-default navbar-fixed-top" id='my-navbar'>
      <div class="container-fluid">
        <div class='row'>
          <div class='col-xs-12'>
            <p class='navbar-text'>
              Scheduler {{ version }}
            </p>
            <form class="navbar-form" role=''>
              <div class="input-group">
                <input type="text" placeholder="Task name..." class="form-control" data-ng-model='taskName'>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Create Task <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-ng-click='newTask(taskName, true)'>Start Now</a></li>
                    <li><a href="#" data-ng-click='newTask(taskName, false)'>To Do Later</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </form>
          </div>
        </div>


<!--
          <div class='form-group'>
            <input class='form-control' placeholder="Task name..." type='text' data-ng-model='taskName'>
          </div>
          <button class='btn btn-default' type='submit' data-ng-click='newTask(taskName, true)'>Start Now</button>
          <button class='btn btn-default' type='submit' data-ng-click='newTask(taskName, false)'>To Do Later</button>
        -->


      </div>
    </nav>

    <div class='container-fluid'>

      <div class='row task-row'>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-6'>
          <div class='panel panel-default'>

            <div class='panel-heading'>
              Active Tasks
            </div>

            <div class='panel-body'>

              <table data-ng-repeat='i in taskStore.activeTasks' class='table table-striped table-bordered table-condensed'>
                <tr>
                  <th class='' colspan=2 data-ng-switch='i.nameBool'>
                    <div data-ng-switch-when='false' data-ng-click='i.toggleName();' style='display: inline-block;'>{{ i.name }}</div>
                    <a href='#'><span class='caret'></span></a>
                    <button type='button' class='close' data-ng-click='i.remove("active", $index)'>&times;</button>
                    <form data-ng-switch-when='true' data-ng-submit='i.toggleName();'><input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'></form>
                  </th>
                </tr>
                <tr>
                  <td class=''>Date</td>
                  <td class=''>{{ i.date }}</td>
                </tr>
                <tr>
                  <td class=''>Time elapsed</td>
                  <td class='monospaced'>{{ i.lapsedTimeString }}</td>
                </tr>
                <tr>
                  <td colspan='2'>

                    <div class="input-group">
                      <input type="text" placeholder="Add New Tag..." class="form-control" data-ng-model='tagName'>
                      <div class="input-group-btn">
                        <button type='button' class='btn btn-default' data-ng-click=''><span class='fa fa-plus'></span></button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->

                  </td>
                </tr>
                <tr>
                  <td colspan='2'>
                    <span ng-switch='i.isPaused'>
                      <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='true'><span class='fa fa-play'></span></button>
                      <button class='btn btn-default' type='button' data-ng-click='i.pause()' data-ng-switch-when='false'><span class='fa fa-pause'></span></button>
                    </span>
                  </td>
                </tr>
              </table>

            </div>

          </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-6'>
          <div class='panel panel-default'>

            <div class='panel-heading'>
              To Do Tasks
            </div>

            <div class='panel-body'>

              <table class='table table-striped table-bordered' data-ng-repeat='i in taskStore.toDoTasks'>
                <tr>
                  <th colspan=2 data-ng-switch='i.nameBool'>
                    <div style='display: inline-block;' data-ng-switch-when='false' data-ng-click='i.toggleName();'>{{ i.name }}</div>
                    <a href='#'><span class='caret'></span></a>
                    <button type='button' class='close' data-ng-click='i.remove("toDo", $index)'>&times;</button>
                    <form data-ng-switch-when='true' data-ng-submit='i.toggleName();'><input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'></form>
                  </th>
                </tr>

                <tr>
                  <td class=''>Date</td>
                  <td class=''>{{ i.date }}</td>
                </tr>
                <tr>
                  <td colspan=2>
                    <button class='btn btn-default' type='button' data-ng-click='startToDoTask($index);'><span class='fa fa-play'></span></button>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>

      </div>

    </div> <!-- .container-fluid -->

    <!-- scripts -->
    <script src='scripts/jquery.min.js'></script>
    <script src='scripts/bootstrap.min.js'></script>
    <script src='scripts/angular.min.js'></script>
    <script src='scripts/app.js'></script>

  </body>

</html>
