<!DOCTYPE HTML>
<html>
  <head>
    <title>Scheduler</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='style/lumen.css' rel='stylesheet'>
    <link href='style/main.css' rel='stylesheet'>
    <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
  </head>

  <body ng-app='scheduler' ng-controller='main'>
    <nav class="navbar navbar-default navbar-fixed-top" id='my-navbar'>
      <div class="container-fluid">
        <div class='row'>
          <div class='col-xs-12'>
            <span class='navbar-brand'>
              Scheduler {{ version }}
            </span>
            <form class="navbar-form" role=''>
              <div class="input-group">
                <input type="text" placeholder="Task name..." class="form-control" data-ng-model='taskName'>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Create Task <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-ng-click='newTask(taskName, true)'>Start Now</a></li>
                    <li><a href="#" data-ng-click='newTask(taskName, false)'>To Do Later</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div class='container-fluid'>

      <div class='row task-row'>

        <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'> <!-- active tasks column -->
          <div class='panel panel-default'>

            <div class='panel-heading'>
              Active Tasks
            </div>

            <div class='panel-body'>

              <ul class='list-group ' data-ng-repeat='i in taskStore.activeTasks'>
                <li class='list-group-item' data-ng-switch='i.nameBool'>
                  <span data-ng-switch-when='false' data-ng-click='i.toggleName();' style='display: inline-block;'><b>{{i.name}}</b></span>
                  <form class='name-input' data-ng-switch-when='true' data-ng-submit='i.toggleName();'>
                    <input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'>
                  </form>
                  <button type='button' class='btn btn-default btn-xs task-display' data-ng-click='i.remove("active", $index)'>&times;</button>
                  <button type='button' class='btn btn-default btn-xs task-display' data-toggle='collapse' data-target='.active-task-details-{{$index}}'>
                    <span class='caret'></span>
                  </button>
                  <span ng-switch='i.isPaused'>
                    <button class='btn btn-default btn-xs task-display' type='button' data-ng-click='i.pause()' data-ng-switch-when='true'><span class='fa fa-play'></span></button>
                    <button class='btn btn-default btn-xs task-display' type='button' data-ng-click='i.pause()' data-ng-switch-when='false'><span class='fa fa-pause'></span></button>
                  </span>
                  <span class='task-display'>{{ i.lapsedTimeString }}</span>
                </li>
                <div class='collapse active-task-details-{{$index}}'>
                  <li class='list-group-item'>
                    Date:&nbsp;{{ i.date }}
                  </li>

                  <li class='list-group-item'>
                    <div class='btn-group'>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(-3600000)'>-1h</button>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(-900000)'>-15m</button>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(-300000)'>-5m</button>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(300000)'>+5m</button>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(900000)'>+15m</button>
                      <button type='button' class='btn btn-sm btn-default' data-ng-click='i.adjustTime(3600000)'>+1h</button>
                    </div>
                  </li>

                  <li class='list-group-item'> <!-- list tags -->
                    <ul class='list-inline ckf-inline-block'>
                      <li ng-repeat='j in i.tags'>
                        <span class='label label-primary'>{{j}}<button type='button' class='close' data-ng-click='removeTag(j, i)'>&times;</button></span>
                      </li>
                    </ul>
                  </li>

                  <li class='list-group-item'> <!-- add tag feature -->
                    <form class="input-group">
                      <input type="text" placeholder="Add New Tag..." class="form-control" data-ng-model='tagText'>
                      <div class="input-group-btn">
                        <button type='submit' class='btn btn-default' data-ng-click='addTag(tagText, i);'><span class='fa fa-plus'></span></button>
                      </div><!-- /btn-group -->
                    </form><!-- /input-group -->
                  </li>

                </div>
              </ul>

            </div>

          </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'> <!-- to do tasks column -->
          <div class='panel panel-default'>

            <div class='panel-heading'>
              To Do Tasks
            </div>

            <div class='panel-body'>

              <ul class='list-group' data-ng-repeat='i in taskStore.toDoTasks'>
                <li class='list-group-item' data-ng-switch='i.nameBool'>
                  <span data-ng-switch-when='false' data-ng-click='i.toggleName();' style='display: inline-block;'><b>{{i.name}}</b></span>
                  <form class='name-input' data-ng-switch-when='true' data-ng-submit='i.toggleName();'>
                    <input type='text' data-ng-blur='i.toggleName();' data-ng-model='i.name'>
                  </form>
                  <button type='button' class='btn btn-default btn-xs task-display' data-ng-click='i.remove("toDo", $index)'>&times;</button>
                  <button type='button' class='btn btn-default btn-xs task-display' data-toggle='collapse' data-target='.to-do-task-details-{{$index}}'>
                    <span class='caret'></span>
                  </button>
                  <button class='btn btn-default btn-xs task-display' type='button' data-ng-click='startToDoTask($index);'><span class='fa fa-play'></span></button>
                </li>

                <div class='collapse to-do-task-details-{{$index}}'>
                  <li class='list-group-item'>
                    Date:&nbsp;{{ i.date }}
                  </li>

                  <li class='list-group-item'> <!-- list tags -->
                    <ul class='list-inline ckf-inline-block'>
                      <li ng-repeat='j in i.tags'>
                        <span class='label label-primary'>{{j}}<button type='button' class='close' data-ng-click='removeTag(j, i)'>&times;</button></span>
                      </li>
                    </ul>
                  </li>

                  <li class='list-group-item'> <!-- add tag feature -->
                    <div class="input-group">
                      <input type="text" placeholder="Add New Tag..." class="form-control" data-ng-model='tagText'>
                      <div class="input-group-btn">
                        <button type='submit' class='btn btn-default' data-ng-click='addTag(tagText, i);'><span class='fa fa-plus'></span></button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                  </li>

                </div>

              </ul>

            </div>
          </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>  <!-- task cumulative time column -->
          <div class='panel panel-default'>
            <div class='panel-heading'>
              Tags
              <button type='button' class='btn btn-default btn-xs task-display' data-ng-click='tagRefresh();'>
                <span class='fa fa-refresh'></span>
                <div class='clear'></div>
              </button>
            </div>
            <div class='panel-body'>
              <table class='table'>
                <tr>
                  <th>
                    Tag
                  </th>
                  <th>
                    Total Elapsed Time
                  </th>
                </tr>
                <tr data-ng-repeat='tag in taskStore.tags track by $index'>
                  <td>
                    {{tag.tag}}
                  </td>
                  <td>
                    {{tag.time}}
                  </td>
                </tr>
              </table>

            </div>

          </div> <!-- panel -->
        </div> <!-- col -->

      </div> <!-- .row -->

    </div> <!-- .container-fluid -->

    <!-- scripts -->
    <script src='scripts/jquery.min.js'></script>
    <script src='scripts/bootstrap.min.js'></script>
    <script src='scripts/angular.min.js'></script>
    <script src='scripts/app.js'></script>

  </body>

</html>
