body {
  font-family: sans-serif;
  margin: 0px;
}

/*
.task-row {
  background: #ddd;
} */

.monospaced {
  font-family: monospace;
}

/*
.task table {
  margin: 1em;
  align: center;
  padding: 1em;
  border-radius: 0.5em;
}

table {
  text-align: left;
}
*/
