body {
  font-family: sans-serif;
  margin: 0px;
}

.stack {
  text-align: center;
}

.monospaced {
  font-family: monospace;
}

.task table {
  margin: 1em;
  align: center;
  padding: 1em;
  border-radius: 0.5em;
}

table {
  text-align: left;
}

/*
button {
  background: #eee;
  border-radius: 0.5em;
  cursor: pointer;
}
*/
