body {
  font-family: sans-serif;
  background: #111;
  color: #ddd;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

.stack {
  text-align: center;
}

.monospaced {
  font-family: monospace;
}

.task table {
  background: #555;
  margin: 1em;
  align: center;
  padding: 1em;
  border-radius: 0.5em;
}

table {
  text-align: left;
}

button {
  background: #eee;
  border-radius: 0.5em;
  cursor: pointer;
}
